<table class="table table-striped">
    <% users.each do |user| %>
      <tr>
        <td>
          <%= attachment_image_tag user, :image, format: 'jpeg', fallback: "logo (3).jpg", size: "100x100" %>
          <%= link_to user_path(user.id) do %>
            <%= user.name %>
          <% end %>
        </td>
        <td><%= user.introduction %></td>
      </tr>
    <% end %>
  </table>