<div class="container">
  <div class="row">
    <!--サイドバーレンダリング-->
    <div class=" col-sm-12 col-md-3 mt-60 ">
      <%= render 'sidebar', user:@user %>
    </div>
    <!--ユーザー一覧レンダリング-->
    <div class="col-sm-12 col-md-9">
      <h2><i class="far fa-user"></i>ユーザ一覧画面</h2>
      <div class="user_index">
        <%= render 'user_index', users:@users %>
      </div>
    </div>
  </div>
</div>


