<div class="container">
  <div class="row">
    <div class="about-m">
      <h2>ようこそ　おきもち　へ
          サイト名の由来
          　いつもお世話になっているお礼に…。
          　喜んでいる顔がみたい！
          　みなさんの相手を想う素敵なおきもちがこもった贈った贈り物をみんなで共有できたら、
          　今よりももっと多くの選択肢の中からおきもちを贈ることができるかもしれないと思い、
          　おきもちと名付けました。

          使い方
          ①会員登録を行いログインする
          ②自分がもらったり、贈ったりして喜ばれたおきもちを投稿してみましょう！！
          ③みんなのおきもちで気になったものがあれば <i class="far fa-heart"></i>を押すとマイページの <i class="far fa-heart"></i>一覧から見ることができます
          ④各おきもちにコメントと評価をつけることができるので、こちらもぜひ行ってください！
      </h2>
    </div>

   </div>
</div>