<div class="col-lg-10 offset-1">
  <div class="text-center">
    <h2>おきもち</h2></br>
    <h4>サイト名の由来</br>
    </br>
      誰かに贈り物するとき、</br>
      相手の事を想ってプレゼントを選ぶとおもいます。</br>
  
      相手を想う素敵なおきもちがこもった贈った贈り物を</br>
      みんなで共有できたら</br>
      今よりももっと多くの選択肢の中から</br>
      おきもちを贈ることができるかもしれないと思い</br>
      おきもちと名付けました。</br>
    </h4>
  </div>
  <div class="how-to">
    <h5>使い方</br>
      ①会員登録を行いログインする</br>
      ②自分がもらったり、贈ったりして喜ばれたおきもちを投稿してみましょう！！</br>
      ③みんなのおきもちで気になったものがあれば <i class="far fa-heart"></i>を押すとマイページの <i class="far fa-heart"></i>一覧から見ることができます</br>
      ④各おきもちにコメントと評価をつけることができるので、こちらもぜひ行ってください！</br>
    </h5>
  </div>
</div>