<h4>top</h4>
<% @items.each do |item| %>
  <%= item.name %><br>
  <% if item.post_images.present? %>
    <% item.post_images.first(1).each do |image| %>
      <%= attachment_image_tag image, :photo, size: "200x200" %>
    <% end %>
  <% end %>
<% end %>