<!--<div class="container">-->
  <div class="justify-content-center">
    <div id="container">
      <div id="topslide">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
      </div>
    </div>
      <% @items.each do |item| %>
        <%= item.name %><br>
        <% if item.post_images.present? %>
          <% item.post_images.first(1).each do |image| %>
            <%= attachment_image_tag image, :photo, size: "200x200" %>
          <% end %>
        <% end %>
      <% end %>

  </div>
<!--</div>-->