<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <!--サイドバーレンダリング-->
        <%= render 'users/sidebar', user:@user %>
    </div>
    <div class="col-lg-9">
      <div class="item_index">
        <h2 class="item_topm">
          <i class="fas fa-gifts"></i>
          みんなのおきもち
        </h2>
          <!--検索機能-->
        <div class="search_form">
          <%= render 'items/search' %>
        </div>
        <!--投稿一覧レンダリング-->
        <div class="index_item">
          <%= render 'items/index', items:@items %>
        </div>
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>