<div class="container">
  <div class="row">
   <div class="col-lg-3 col-sm-12 col-md-3">
      <!--サイドバーレンダリング-->
      <div class="sidebar">
        <%= render 'users/sidebar', user:@user %>
      </div>
    </div>
     <div class="col-lg-9 col-sm-12 col-md-9">
      <h2><i class="fas fa-gifts"></i>検索結果</h2>
      <div class="search_form">
        <%= render 'items/search' %>
      </div>
      <% if @user_or_item == "おきもち" %>
      <div class="search_index">
        <%= render 'index', items:@items %>
       </div>
      <% end %>
    </div>
  </div>
</div>

