/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.heder-container{
  background-color:#FFFFEE;
}
.main-container{
   background-color:#FFFFDD;
}
.footer-container{
   background-color:#FFFFCC;
}



#container{
  height: 300px;
  width: 600px;
}
.image1 {
  background-image: url(topimage1.jpg);
}
.image2 {
  background-image: url(topimage2.jpg);
}
.image3 {
  background-image: url(topimage3.jpg);
}
.image4 {
  background-image: url(topimage4.jpg);
}