// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top{
  width: 90%;
  margin: 0 auto;
  max-width: 500px;
}
welcom-m{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.top-ranking{
  display: flex;
  justify-content: space-around;
}