// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// スライドショー
#container{
  height: 300px;
  width: 700px;
  margin: auto;
}
.image1 {
  background-image: url(topimage1.jpg);
}
.image2 {
  background-image: url(topimage2.jpg);
}
.image3 {
  background-image: url(topimage3.jpg);
}
.image4 {
  background-image: url(topimage4.jpg);
}


.top_body{
  text-align: center;
}
.top{
  width: 90%;
  margin: 0 auto;
  max-width: 500px;
}
.welcom-m{
}
.top-ranking{
  display: flex;
  justify-content: space-around;
}

ul{
  list-style: none;
}
li{
}
p{
  margin-left: 10px;
}