// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top_body{
  text-align: center;
}
// .top-view{
//   width: 80%;
//   // height: 60%;
//   background: image-url('topimage1.jpg');
//   background-size: cover;
//   background-position: center;
// }
.welcom-m{
}

ul{
  list-style: none;
}
li{
}
p{
  margin-left: 10px;
}
