// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  list-style: none;
}

.new_post{
  // text-align: left;
  // margin-top: 10px;
}
.user_flex{
  display:flex;
}
.user_show_side{
  margin-left: 5px;
}
.index_user{
  margin: 30px 0px;
  display:flex;
}

.user_index_list{
  margin-left: 5px;
}
